<div class="border-b-2 border-y-fuchsia-900 sticky top-0">
    <div class="flex justify-between items-center">
        <app-header-logo></app-header-logo>
        <div>
            <button class="p-2 m-2 text-fuchsia-900 hover:bg-slate-50 bg-white border-2 border-fuchsia-800">Sign Up</button>
            <Button class=" p-2 m-2 text-white hover:bg-fuchsia-950 bg-fuchsia-900 border-2 border-black">Log In</Button>
        </div>

    </div>
</div>

<div class=" w-[600px] m-auto align-middle my-10">
    <h1 class="text-center text-fuchsia-900 text-2xl">Welcome to Tahakom Employee Managment System</h1>
    <div class="w-[400px] m-auto flex justify-center my-5">
        <button class="p-2 m-2 text-white hover:bg-fuchsia-950  bg-fuchsia-900 border-2 border-black">Sign Up</button>
        <Button class=" p-2 m-2 text-white hover:bg-fuchsia-950 bg-fuchsia-900 border-2 border-black">Log In</Button>
    </div>
</div>
