<div class="main-border-y-color sticky top-0">
    <div class="flex justify-between items-center">
        <app-header-logo></app-header-logo>
        <div>
            <button class="p-2 m-2 main-text-color hover:bg-slate-50 bg-white main-border-color" (click)="navigateToSignUp()">Sign Up</button>
            <Button class=" p-2 m-2 text-white main-hover-color main-bg-color main-border-color" (click)="navigateToLogin()">Log In</Button>
        </div>

    </div>
</div>

<div class=" w-[600px] m-auto align-middle my-10">
    <h1 class="text-center main-text-color text-2xl">Welcome to Tahakom Employee Managment System</h1>
</div>
