/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg-color{
    background-color: rgb(89, 28, 60);
}

.main-hover-color:hover{
    background: rgb(40, 16, 40);
}

.main-border-color{
    border: 1px solid rgb(89, 28, 60);
}
.main-border-y-color{
    border-bottom: 1px solid rgb(89, 28, 60);
}
.main-text-color{
    color:  rgb(89, 28, 60);
}

